<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>资料共享</title>
	<link href="../bootstrap.css" rel="stylesheet">
	<script src="../jq.js"></script>
	<script src="../bootstrap.js"></script>
	<link rel="stylesheet" href="../main.css">
</head>
<body onload="if_load();share_change_index('main')">
<div class="container">
	<div class="row" style="margin-top:10px;background-image:url('../photo/bg.png');background-size:cover">
		<div class="col-md-2">
			<img src="../photo/logo.png" alt="logo" style="width:30px,height:30px">
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-10">
					<h2 class="center-block" style="color:white">竞赛信息网</h2>
				</div>
			</div>
			<div class="row" style="margin-top:20px">
				<div class="col-md-2">
					<img src="../photo/search.png" style="height:40px" class="pull-right">
				</div>
				<div class="col-md-3">					
					<input type="text" placeholder="关键词搜索" class="form-control" style="height:40px">
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-3">
					<a href="user_center.html" style="color:white;display:none" id="show_username">六个字符的名</a>
					<button class="btn btn-primary btn-sm" style="color:white;background-color:#002060;display:none" id="unload_bt" onclick="unload()">退出登录</button>
					<a href="load.html"><button class="btn btn-primary btn-lg" style="color:white;background-color:#002060" id="load_bt">登录</button></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<a href="index.html"><button class="btn btn-default" style="color:white;background-color:#002060;width:13.7%">首页</button></a>
		<a href="compete.html"><button class="btn btn-default" style="color:white;background-color:#002060;width:14%">竞赛信息</button></a>
		<a href="team.html"><button class="btn btn-default" style="color:white;background-color:#002060;width:14%">队友匹配</button></a>
		<a href="share.html"><button class="btn btn-default" style="color:white;background-color:#002060;width:14%">资料共享</button></a>
		<a href="show.html"><button class="btn btn-default" style="color:white;background-color:#002060;width:14%">成果展示</button></a>
		<a href="talk.html"><button class="btn btn-default" style="color:white;background-color:#002060;width:14%">交流讨论</button></a>
		<a href="about_us.html"><button class="btn btn-default" style="color:white;background-color:#002060;width:14%">关于我们</button></a>
	</div>
</div>

<div class="container main_index" style="margin-top:40px">
	<div class="row">
		<div class="col-md-5">
			<div class="panel panel-default" style="height:600px">
				<div class="panel-heading" style="background-color:#4bacc6;height:60px">
					<button class="btn btn-default pull-right" onclick="share_change_index('file')">更多+</button>
				</div>
				<div class="panel panel-body">
					<h3 style="color:#4bacc6">热门资源</h3>
					<a href=""  data-toggle="modal" data-target="#show_file_1"> 某某资源</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#send_1"  style="background-color:#4bacc6;color:white">我要上传</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-5">
			<div class="panel panel-default" style="height:600px">
				<div class="panel-heading" style="background-color:#c0504d;height:60px">
					<button class="btn btn-default pull-right" onclick="share_change_index('goods')">更多+</button>
				</div>
				<div class="panel panel-body">
					<h3 style="color:#c0504d">转让闲置</h3>
					<a href="" data-toggle="modal" data-target="#show_goods_1">某某物品</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#send_2" 
						style="background-color:#c0504d;color:white">我要转让</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
	</div>
</div>

<div class="container file_more_index">
	<div class="row" style="border-style:solid;border-width:2px">
		<div style="background-color:#4bacc6;height:30px;margin-top:5px"></div>
		<h2 style="color:#0070c0">更多资源</h2>
		<div class="btn-group" style="display:inline-block">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"  style="margin-left:34px">			竞赛筛选<span class="caret"></span></button>
			<ul class="dropdown-menu com_type" role="menu">
				<li><a href="#">英语类</a></li>
				<li><a href="#">创新创业类</a></li>
				<li><a href="#">建模类</a></li>
				<li><a href="#">计算机类</a></li>
				<li><a href="#">其他专业类</a></li>
			</ul>
		</div>
		<p class="com_type_name" style="display:inline-block"></p><br>
	</div>
</div>

<div class="container goods_more_index">
	<div class="row" style="border-style:solid;border-width:2px">
		<div style="background-color:#c0504d;height:30px;margin-top:5px"></div>
		<h2 style="color:#0070c0">更多发布</h2>
		<div class="btn-group" style="display:inline-block">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"  style="margin-left:34px">			竞赛筛选<span class="caret"></span></button>
			<ul class="dropdown-menu com_type" role="menu">
				<li><a href="#">英语类</a></li>
				<li><a href="#">创新创业类</a></li>
				<li><a href="#">建模类</a></li>
				<li><a href="#">计算机类</a></li>
				<li><a href="#">其他专业类</a></li>
			</ul>
		</div>
		<p class="com_type_name" style="display:inline-block"></p><br>
	</div>
</div>

<div class="modal fade" id="send_1" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>资料上传</h3>
			</div>
			<div class="modal-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"  style="margin-left:34px">竞赛类型<span class="caret"></span></button>
					<ul class="dropdown-menu com_type" role="menu">
						<li><a href="#">英语类</a></li>
						<li><a href="#">创新创业类</a></li>
						<li><a href="#">建模类</a></li>
						<li><a href="#">计算机类</a></li>
						<li><a href="#">其他专业类</a></li>
					</ul>
				</div>
				<p class="com_type_name" style="display:inline-block"></p><br>
				<form class="form-horizontal" role="form">
					<div class="form-group">
    					<label for="com_name" class="col-sm-3 control-label">竞赛名称：</label>
    					<div class="col-sm-7">
      						<input type="text" class="form-control" id="com_name">
    					</div>
  					</div>
  					<div class="form-group">
    					<label for="file_name" class="col-sm-3 control-label">资料标题：</label>
    					<div class="col-sm-7">
      						<input type="text" class="form-control" id="file_name">
    					</div>
  					</div>
    				<label style="margin-left:44px">资料内容描述：</label>
    				<textarea class="form-control" rows="4" placeholder="(不超过200字)"></textarea>
  				</form>
  				<label class="col-sm-3 control-label" style="margin-left:34px">上传资料：</label>
    			<input type="file" id="filed_1" style="display:inline-block">	
 				<p>建议大于10M的资料以压缩包形式上传，可上传多个压缩文件</p>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-default" onclick="sub_file()"> 
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>               
            </div>
		</div>
	</div>
</div>

<div class="modal fade" id="send_2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>闲置发布</h3>
			</div>
			<div class="modal-body">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"  style="margin-left:34px">竞赛类型<span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu" id="com_type">
						<li><a href="#">英语类</a></li>
						<li><a href="#">创新创业类</a></li>
						<li><a href="#">建模类</a></li>
						<li><a href="#">计算机类</a></li>
						<li><a href="#">其他专业类</a></li>
					</ul>
				</div>
				<form class="form-horizontal" role="form">
					<div class="form-group">
    					<label for="com_name" class="col-sm-3 control-label">竞赛名称：</label>
    					<div class="col-sm-7">
      						<input type="text" class="form-control" id="com_name">
    					</div>
  					</div>
  					<div class="form-group">
    					<label for="goods_name" class="col-sm-3 control-label">发布标题：</label>
    					<div class="col-sm-7">
      						<input type="text" class="form-control" id="goods_name">
    					</div>
  					</div>
  					<label style="margin-left:44px">物品描述：</label>
    				<textarea class="form-control" rows="4" placeholder="(不超过200字)"></textarea>
    				<label class="col-sm-3 control-label" style="margin-left:24px">上传图片：</label>
    				<input type="file" id="goods_pic_1" style="display:inline-block">
    				<input type="file" id="goods_pic_2" style="display:inline-block">	
 					<p style="display:inline-block">（最多上传两张）</p>
 					<div class="form-group">
    					<label for="goods_price" class="col-sm-3 control-label">转让价格：</label>
    					<div class="col-sm-7">
      						<input type="text" class="form-control" id="goods_price">
    					</div>
  					</div>
  					<div class="form-group">
    					<label for="goods_phone" class="col-sm-3 control-label">联系方式：</label>
    					<div class="col-sm-7">
      						<input type="text" class="form-control" id="goods_phone">
    					</div><br>
    					<p>（选填，若填写，可填写QQ,手机号码，微信号等）</p>
  					</div>
    			</form>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-default" onclick="sub_file()">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>               
            </div>
		</div>
	</div>
</div>

<div class="modal fade" id="show_file_1" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">用户自定义资料标题</h4>
				<span>上传者：</span><span></span>
				<span>下载量：</span><span></span>
			</div>
			<div class="modal-body">
				<p style="text-align:center">用户描述</p>
				<p></p>
				<p style="text-align:center">资料链接（点击链接即可下载）</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="show_goods_1" tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">用户自定义资料标题</h4>
				<span>上传者：</span><span></span>
				<span>下载量：</span><span></span>
			</div>
			<div class="modal-body">
				<p style="text-align:center">用户描述</p>
				<p style="text-align:center">物品图片</p>
			</div>
			<div class="modal-body">
				<p>转让价格：</p>
				<p>联系方式：</p>
			</div>
		</div>
	</div>
</div>

<div class="container" style="background-color:#9cf;margin-top:15px">
	<div class="row" style="margin-top:5px">
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<a href="talk.html">
			<img src="../photo/talk.png" style="height:50px">
			<p style="margin-left:7px;color:black" >交流讨论</p></a>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-1">
			<a href="team.html">
			<img src="../photo/team.png" style="height:50px">
			<p style="margin-left:7px;color:black">队友匹配</p></a>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-1">
			<a href="show.html">
			<img src="../photo/show.png" style="height:50px">
			<p style="margin-left:7px;color:black">成果展示</p></a>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-1">
			<a href="share.html">
			<img src="../photo/share.png" style="height:50px">
			<p style="margin-left:7px;color:black">资料共享</p></a>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
<script src="../jquery-3.1.1.js"></script>
<script src="../main.js"></script>
</body>
</html>